doctype html
html(lang="en")
    head
        title OpEdAni: Anime Openings & Endings
        meta(name="author" content="Klayton Kowalski")
        meta(name="description" content="OpEdAni is a place to rate and discuss anime openings and endings.")
        meta(name="keywords" content="anime, opening, openings, op, ops, ending, endings, ed, eds, rate, rating, rank, ranking")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="charset" content="utf-8")
        link(href="/images/icon.png" rel="icon")
        link(href="/stylesheets/element.css" rel="stylesheet")
        link(href="/stylesheets/component.css" rel="stylesheet")
    body
        nav.nav-top
            a(href="/").color-primary.horizontal.align-x-axis OpEdAni
            div.nav-top-search
                form#layoutSearchForm.horizontal.align-x-axis.gap-small
                    label(for="layoutSearchQuery")
                        i(data-feather="search")
                    input#layoutSearchQuery(type="search" minlength="2" required)
            div(data-focus="false").relative.push-right
                button(type="button").button-complex
                    i(data-feather="menu")
                    p(data-breakpoint="greater-than-small") Menu
                div(data-focus-target)
            div(data-focus="false" data-auth="false").relative
                button(type="button" data-auth="false").button-complex
                    i(data-feather="log-in")
                    p(data-breakpoint="greater-than-small") Log In
                form#layoutLogInForm(data-focus-target).input-box
                    label(for="layoutLogInEmail") Email
                    input#layoutLogInEmail(type="email" required)
                    label(for="layoutLogInPassword") Password
                    input#layoutLogInPassword(type="password" required)
                    button(type="submit") Log In
            div(data-focus="false" data-auth="false").relative
                button(type="button" data-auth="false").button-complex
                    i(data-feather="user-plus")
                    p(data-breakpoint="greater-than-small") Sign Up
                form#layoutSignUpForm(data-focus-target).input-box
                    label(for="layoutSignUpEmail") Email
                    input#layoutSignUpEmail(type="email" required)
                    label(for="layoutSignUpPassword") Password
                    input#layoutSignUpPassword(type="password" required)
                    label(for="layoutSignUpRetype") Retype Password
                    input#layoutSignUpRetype(type="password" required)
                    button(type="submit") Sign Up
            div(data-auth="true").relative
                button#layoutLogOutButton(type="button" data-auth="true").button-complex
                    i(data-feather="log-out")
                    p(data-breakpoint="greater-than-small") Log Out
        main
            block block-main
        footer.background-dark.padding-medium.vertical.center
            p.color-soft Copyright &copy #{new Date().getFullYear()} Klayton Kowalski
        div#layoutStatusBox.status-box.hidden
        link(href="/stylesheets/utility.css" rel="stylesheet")
        script(src="/scripts/bundle.js" type="module")