doctype html
html(lang="en")
    head
        title OpEdAni: Anime Openings & Endings
        meta(name="author" content="Klayton Kowalski")
        meta(name="description" content="OpEdAni is a place to rate and discuss anime openings and endings.")
        meta(name="keywords" content="anime, opening, openings, op, ops, ending, endings, ed, eds, rate, rating, rank, ranking")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="charset" content="utf-8")
        link(href="/images/icon.png" rel="icon")
        link(href="/stylesheets/element.css" rel="stylesheet")
        link(href="/stylesheets/component.css" rel="stylesheet")
    body
        nav.nav-top
            a(href="/").icon-text
                img(src="/images/icon.png" width="24px" height="24px")
                p(data-breakpoint="greater-than-medium").color-primary OpEdAni
            div(data-focus="false").nav-top-search
                form#layoutSearchForm.horizontal.align-x-axis.gap-small
                    label(for="layoutSearchQuery")
                        i(data-feather="search")
                    input#layoutSearchQuery(type="search" minlength="2" autocomplete="off" spellcheck="false" required)
                div(data-focus-target)#layoutSearchBox.search-box
            div(data-focus="false" data-auth="false").relative
                button(type="button" data-auth="false").icon-text.nowrap
                    i(data-feather="log-in")
                    p(data-breakpoint="greater-than-medium") Log In
                form#layoutLogInForm(data-focus-target).input-box
                    label(for="layoutLogInEmail") Email
                    input#layoutLogInEmail(type="email" autocomplete="off" spellcheck="false" required)
                    label(for="layoutLogInPassword") Password
                    input#layoutLogInPassword(type="password" autocomplete="off" spellcheck="false" required)
                    button(type="submit") Log In
            div(data-focus="false" data-auth="false").relative
                button(type="button" data-auth="false").icon-text.nowrap
                    i(data-feather="user-plus")
                    p(data-breakpoint="greater-than-medium") Sign Up
                form#layoutSignUpForm(data-focus-target).input-box
                    label(for="layoutSignUpEmail") Email
                    input#layoutSignUpEmail(type="email" autocomplete="off" spellcheck="false" required)
                    label(for="layoutSignUpPassword") Password
                    input#layoutSignUpPassword(type="password" autocomplete="off" spellcheck="false" required)
                    label(for="layoutSignUpRetype") Retype Password
                    input#layoutSignUpRetype(type="password" autocomplete="off" spellcheck="false" required)
                    button(type="submit") Sign Up
            div(data-focus="false" data-auth="true").relative
                button#layoutUser(type="button").icon-image.background-shadow
                div(data-focus-target).input-box
                    a#layoutProfile(href="/").icon-text.color-normal
                        i(data-feather="user")
                        p Profile
                    button#layoutLogOut(type="button").icon-text
                        i(data-feather="log-out")
                        p Log Out
            div(data-focus="false").relative
                button(type="button").icon-text
                    i(data-feather="menu")
                    p(data-breakpoint="greater-than-medium") Menu
                div(data-focus-target).input-box
        main
            block block-main
        footer.background-dark.padding-medium.vertical.center
            p Copyright &copy #{new Date().getFullYear()} Klayton Kowalski
        div#layoutStatusBox.status-box.hidden
        link(href="/stylesheets/utility.css" rel="stylesheet")
        script(src="/scripts/bundle.js" type="module")