doctype html
html(lang="en")
    head
        title OpEdAni: Anime Openings & Endings
        meta(name="author" content="Klayton Kowalski")
        meta(name="description" content="OpEdAni is a place to rate and discuss anime openings and endings.")
        meta(name="keywords" content="anime, opening, openings, op, ops, ending, endings, ed, eds, rate, rating, rank, ranking")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="charset" content="utf-8")
        link(href="/public/stylesheets/elements.css" rel="stylesheet")
        block block-head
    body
        block block-body
        script(src="/public/scripts/jquery-3.6.3.min.js")
        script(src="/public/scripts/feather.min.js")
        script(src="/public/scripts/layout.js")
        block block-script