.nav-top
{
    align-items: center;
    background-color: #202020;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-top-search
{
    margin: auto;
    max-width: 400px;
    position: relative;
    width: 100%;
}

.icon-image
{
    align-items: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    display: flex;
    height: 24px;
    width: 24px;
}

.icon-text
{
    align-items: center;
    display: flex;
    gap: 10px;
}

.search-box
{
    background-color: #202020;
    box-shadow: 0 0 5px #101010;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    overflow: auto;
    position: absolute;
    top: 100%;
    width: 100%;
}

.search-box > *:not(:last-child)
{
    border-bottom: 1px solid #101010;
}

.dropdown-box
{
    background-color: #202020;
    box-shadow: 0 0 5px #101010;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 100%;
    width: max-content;
}

.status-box
{
    background-color: #397fa8;
    color: #dfdfdf;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.spacer-small
{
    width: 10px;
    height: 10px;
}

.spacer-medium
{
    width: 20px;
    height: 20px;
}

[data-help]
{
    cursor: pointer;
    height: 16px;
    width: 16px;
}