/*******************************************************************************
/* MISCELLANEOUS
*******************************************************************************/

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection
{
    background: #7839ac88;
}

hr
{
    background-color: #515151;
    border: none;
    min-height: 1px;
}

/*******************************************************************************
/* SECTIONS
*******************************************************************************/

html
{
    height: 100%;
    visibility: hidden;
}

body
{
    background-color: #202020;
    background-image: url("/images/background.png");
    color: #bfbfbf;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    flex-direction: column;
    height: 100%;
}

main
{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

/*******************************************************************************
/* TEXT
*******************************************************************************/

a
{
    color: #9e66cc;
    text-decoration: none;
}

label
{
    cursor: pointer;
    line-height: 1.5;
}

h1
{
    color: #64a4ca;
    font-size: 32px;
}

p
{
    line-height: 1.5;
}

/*******************************************************************************
/* INPUTS
*******************************************************************************/

input
{
    background: none;
    border: 1px solid #515151;
    border-radius: 0;
    color: inherit;
    font: inherit;
    padding: 5px;
    width: 100%;
}

input[type=radio], input[type=checkbox]
{
    width: initial;
}

button
{
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
}

button[type=submit]
{
    background-color: #397fa8;
    box-shadow: 0 3px #101010;
    color: #dfdfdf;
    padding: 10px;
}

button[type=submit]:active
{
    box-shadow: none;
    transform: translateY(3px);
}

select
{
    background: none;
    border: 1px solid #515151;
    border-radius: 0;
    color: inherit;
    font: inherit;
    padding: 5px;
    width: 100%;
}