.hidden
{
    display: none;
}

.background-dark
{
    background-color: #202020;
}

.background-primary
{
    background-color: #397fa8;
}

.color-soft
{
    color: #a3a3a3;
}

.color-primary
{
    color: #64a4ca;
}

.padding-small
{
    padding: 10px;
}

.padding-medium
{
    padding: 20px;
}

.gap-small
{
    gap: 10px;
}

.gap-medium
{
    gap: 20px;
}

.push-right
{
    margin-left: auto;
}

.horizontal
{
    display: flex;
}

.vertical
{
    display: flex;
    flex-direction: column;
}

.center
{
    text-align: center;
}

.align
{
    align-items: center;
}

.relative
{
    position: relative;
}

@media screen and (max-width: 639px)
{
    [data-breakpoint=greater-than-small]
    {
        display: none;
    }
}

[data-auth="true"], [data-auth="false"]
{
    display: none;
}

[data-focus="false"] > [data-focus-target]
{
    display: none;
}