.background-dark
{
    background-color: #202020;
}

.shadow
{
    box-shadow: 0 0 5px #101010;
}

.color-primary
{
    color: #64a4ca;
}

.color-primary-dark
{
    color: #397fa8;
}

.color-normal
{
    color: inherit;
}

.color-subtle
{
    color: #797979;
}

.padding-small
{
    padding: 10px;
}

.padding-medium
{
    padding: 20px;
}

.gap-small
{
    gap: 10px;
}

.gap-medium
{
    gap: 20px;
}

.push-right
{
    margin-left: auto;
}

.horizontal
{
    display: flex;
}

.vertical
{
    display: flex;
    flex-direction: column;
}

.center
{
    margin: auto;
}

.align-x-axis
{
    align-items: center;
}

.align-y-axis
{
    justify-content: center;
}

.relative
{
    position: relative;
}

.nowrap
{
    min-width: max-content;
}

.space-evenly
{
    justify-content: space-evenly;
}

.clamp-tiny
{
    max-width: 320px;
}

.clamp-small
{
    max-width: 640px;
}

.clamp-medium
{
    max-width: 960px;
}

.clamp-large
{
    max-width: 1280px;
}

.grid
{
    display: grid;
}

.span
{
    grid-column: 1 / -1;
}

.fluid-small, .fluid-medium, .fluid.large
{
    grid-template-columns: 1fr;
}

@media screen and (min-width: 640px)
{
    .fluid-small, .fluid-medium, .fluid-large
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 960px)
{
    .fluid-small, .fluid-medium
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1280px)
{
    .fluid-small
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 319px)
{
    [data-breakpoint=greater-than-tiny]
    {
        display: none;
    }
}

@media screen and (max-width: 639px)
{
    [data-breakpoint=greater-than-small]
    {
        display: none;
    }
}

@media screen and (max-width: 959px)
{
    [data-breakpoint=greater-than-medium]
    {
        display: none;
    }
}

@media screen and (max-width: 1279px)
{
    [data-breakpoint=greater-than-large]
    {
        display: none;
    }
}

@media screen and (min-width: 320px)
{
    [data-breakpoint=less-than-tiny]
    {
        display: none;
    }
}

@media screen and (min-width: 640px)
{
    [data-breakpoint=less-than-small]
    {
        display: none;
    }
}

@media screen and (min-width: 960px)
{
    [data-breakpoint=less-than-medium]
    {
        display: none;
    }
}

@media screen and (min-width: 1280px)
{
    [data-breakpoint=less-than-large]
    {
        display: none;
    }
}

[data-auth="true"], [data-auth="false"]
{
    display: none;
}

[data-focus="false"] > [data-focus-target]
{
    display: none;
}

.hidden
{
    display: none;
}